@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

  
  .cardFrame {
	width: 159px;
	height: 232px;
	gap: 6px;
	position: relative;
  }



  .rect {
	width: 159px;
	height: 205px;
	border-radius: 10px ;
	background-color: var(--css-white);
	position: relative;
  }

  .cardImage {
	width: 159px;
	height: 170px;;
	border-radius: 10px 10px 0px 0px;
  }
  
  .cardContent {
	text-align: left;
	display: block;
	align-items: start;
	width: auto;
	height: 21px;
	font-family: 'Poppins';
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: var(--css-white);
	padding: .5rem 0;
  }


.cardFrame .chip {
    display: inline-flex;
    flex-direction: row;
    position: absolute;
	align-items: center;
	justify-content: start;
    height: auto;
    top: 176px;
    left: 8px;
	padding: 4px 8px 4px 8px;
    gap: 1px;
    border-radius: 10px;
    background: var(--css-black);    
    color: var(--css-white);
	font-size: 11px;
	text-align: left;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	white-space: nowrap;
}
