@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.gridContainer {
	display: flex;
	width: Hug (1384px)px;
	height: Hug (592px)px;
	top: 32px;
	left: 31px;
	/* gap: 32px; */
	position: relative;	
  }
  
  .gridTop h1 {
	position: relative;
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 122px;
	height: 30px;
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	color: var(--css-white);
  }

  .albumCards {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	gap: 20px;
	width: 100%;
	height: 232px;
	top: 48px;
	left: 12px;
	gap: 40px;	
  }
  
  .cardFrame {
	width: 159px;
	height: 232px;
	gap: 6px;
	opacity: 0px;	
  }

  
  .cardFrame:hover {
	transform: scale(1.05);
  }

  .rect1 {
	width: 159px;
	height: 205px;
	border-radius: 10px ;
	background-color: var(--css-white)	;
  }

  .cardImage {
	width: 159px;
	height: 170px;;
	border-radius: 10px 10px 0px 0px;
  }
  
  .cardContent {
	padding: 15px;
	text-align: left;
  }
  
  .cardContent {
	display: block;
	align-items: start;
	width: 130px;
	height: 21px;
	font-family: 'Poppins';
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: var(--css-white);
	padding: .25rem 0;
  }


  .chip {
	display: inline-block;
	padding: 4px 8px 4px 8px;
	width: Hug (71px)px;
	height: Hug (23px)px;
	top: 176px;
	left: 8px;
	gap: 1px;
	border-radius: 10px;
	background-color: var(--css-black);
	color: var(--css-white);
	font-size: 10px;
	line-height: 15px;
	font-weight: 400;
  }

  /* .chip {
	position: absolute;
	bottom: 10px;
	left: 10px;
	background-color: var(--css-black);
	color: var(--css-white);
	font-size: 10px;
	line-height: 15px;
	font-weight: 400;
} */
  