.carousel {
    position: relative;
}

/* .swiper-container {
    width: 100%;
  }
   */
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
  }
  
  .swiper-button-prev {
    left: -40px;
  }
  
  .swiper-button-next {
    right: -40px;
  }
  