@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.gridContainer {
	display: flex;
    gap: 32px;
	width: Hug (1384px)px;
    height: Hug (848px)px;
    padding: 20px;
    margin: 0 auto;
	height: Hug (592px)px;
	top: 368px;
	left: 32px;
	position: fixed;	
}

.gridTop {
    display: flex;
	position: relative;
	width: 1376px;
    height: 536px;
	
}

.headerContainer {
    display: flexbox;
    align-items: center;
    justify-content: space-between;
}

.headerContainer h1 {   
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--css-white);
}


.headerContainer .buttonCollapse {
    margin-left: 90%;
    width: 90px;
    height: 30px;
    left: 1286px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: right;
    color: var(--css-primary);
    background: none;
    border: none;
    cursor: pointer;
}

.headerContainer .buttonShowAll {
    margin-left: 90%;
    width: auto;
    height: 30px;
    left: 1291px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: right;
    color: var(--css-primary);
    background: none;
    border: none;
    cursor: pointer;
}

.albumGrid {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 40px;
    top: 24px;
    justify-content: center;
    position: relative;	
}

.albumGridOne {
    display: flex;
    position: relative;
    width: Hug (1,353px)px;
    height: Hug (232px)px;
    gap: 40px;

}